# IDE files
.idea/
*.iml
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Frontend (Flutter)
# Ignorar archivos y carpetas generados por Flutter
.dart_tool/
.flutter-plugins-dependencies
pubspec.lock      
build/

# Ignorar archivos de plataformas
frontend/pet_connect_app/android/
frontend/pet_connect_app/ios/
frontend/pet_connect_app/linux/
frontend/pet_connect_app/macos/
frontend/pet_connect_app/windows/
frontend/pet_connect_app/.metadata

# Backend
# Ignorar archivos y carpetas del backend
/backend/env/
# Secrets
.env
*.env           